@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

* {
  font-family: "Poppins";
}

*::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}

*::-webkit-scrollbar-thumb {
  background: #000;
}

.link {
  color: #222222aa;
  text-decoration: none;
}

.link:visited {
  color: #222222aa;
  text-decoration: none;
}

html,
body {
  height: 99%;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96vw;
  max-width: 1100px;
  align-self: center;
  margin: 0px 4vw;
}

.name {
  font-weight: bold;
  font-size: 2.5em;
  letter-spacing: 0.2rem;
}

.profession {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 0.7em;
  letter-spacing: 0.15rem;
  color: #90898f;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.item {
  transform: rotate(-90deg);
  font-family: "Poppins";
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.15rem;
  color: #999;
}

.item:hover {
  color: #111;
  cursor: pointer;
}

.page {
  flex: 1 0 auto;
  padding: 9vh 0;
  width: 96vw;
  max-width: 900px;
  padding: 0px 0px 0px 0;
  align-self: center;
}

.content-item {
  margin: 4% 0;
  padding: 4% 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
}

.content-header {
  padding: 0 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-title {
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.2rem;
}

.content-date {
  font-size: 1.5em;
  letter-spacing: 0.2rem;
  opacity: 0.4;
}

.content-body {
  padding: 0 5%;
}

.content-links {
  padding: 0 2%;
}

.content-footer {
  padding: 0 2%;
  opacity: 0.4;
}

.content-gallery {
  margin: 4% 0;
  padding: 4% 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
}

.content-img {
  max-width: 95%;
  align-self: center;
}

.content-caption {
  padding: 2% 5%;
  opacity: 0.4;
}

.footer {
  padding: 0 2%;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-links {
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  gap: 5%;
}
